<div class="dashboard">
    <mat-toolbar class="toolbar">
       <div routerLink="/books" class="BookTitle" fxLayout="row" fxLayoutAlign="center center" >
            <div class="BookIcon" fxLayout="row" fxLayoutAlign="center center">
            <svg class="bookI" version="1.1" id="Layer_1" 
            viewBox="0 0 296.999 296.999" xml:space="preserve">
           <g>
               <g>
                   <g>
                       <path fill="#ffff" stroke="#ffff" d="M45.432,35.049c-0.008,0-0.017,0-0.025,0c-2.809,0-5.451,1.095-7.446,3.085c-2.017,2.012-3.128,4.691-3.128,7.543
                           v159.365c0,5.844,4.773,10.61,10.641,10.625c24.738,0.059,66.184,5.215,94.776,35.136V84.023c0-1.981-0.506-3.842-1.461-5.382
                           C115.322,40.849,70.226,35.107,45.432,35.049z"/>
                       <path fill="#ffff" stroke="#ffff" d="M262.167,205.042V45.676c0-2.852-1.111-5.531-3.128-7.543c-1.995-1.99-4.639-3.085-7.445-3.085c-0.009,0-0.018,0-0.026,0
                           c-24.793,0.059-69.889,5.801-93.357,43.593c-0.955,1.54-1.46,3.401-1.46,5.382v166.779
                           c28.592-29.921,70.038-35.077,94.776-35.136C257.394,215.651,262.167,210.885,262.167,205.042z"/>
                       <path fill="#ffff" stroke="#ffff" d="M286.373,71.801h-7.706v133.241c0,14.921-12.157,27.088-27.101,27.125c-20.983,0.05-55.581,4.153-80.084,27.344
                           c42.378-10.376,87.052-3.631,112.512,2.171c3.179,0.724,6.464-0.024,9.011-2.054c2.538-2.025,3.994-5.052,3.994-8.301V82.427
                           C297,76.568,292.232,71.801,286.373,71.801z"/>
                       <path fill="#ffff" d="M18.332,205.042V71.801h-7.706C4.768,71.801,0,76.568,0,82.427v168.897c0,3.25,1.456,6.276,3.994,8.301
                           c2.545,2.029,5.827,2.78,9.011,2.054c25.46-5.803,70.135-12.547,112.511-2.171c-24.502-23.19-59.1-27.292-80.083-27.342
                           C30.49,232.13,18.332,219.963,18.332,205.042z"/>
                   </g>
               </g>
           </g>
           </svg>
           </div>
            <div class="BookTitletxt">Bookstore</div>
        </div>
       
        <div class="search">
            <mat-form-field class="search-input" appearance="outline">
                <input class="s-input" (keyup.enter)="search($event)" matInput placeholder="Search">
                <mat-icon class="search-icon" matPrefix >search</mat-icon>
            </mat-form-field>
        </div>
        <div routerLink="/cart" class="cart" fxLayout="row" fxLayoutAlign="center center" >
            <div class="cart-text">Cart</div>
            <div class="cart-icon">
                 <!-- <span *ngIf="CartBookNo != 0" class="cart-number">{{CartBookNo}}</span> -->
                 
            </div>
            <mat-icon matBadge="{{CartBookNo}}" matBadgeSize="small" [matBadgeHidden]="cartMatBatch" matBadgeColor="white"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                aria-hidden="true" focusable="false" width="1em" height="1em" 
                style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" 
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><circle cx="176" cy="416" r="16" fill="none"
                 stroke="#ffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
                 <circle cx="400" cy="416" r="16" fill="none" stroke="#ffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
                 <path  fill="none" stroke="#ffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 80h64l48 272h256"/><path d="M160 288h249.44a8 8 0 0 0 7.85-6.43l28.8-144a8 8 0 0 0-7.85-9.57H128" fill="none" stroke="#ffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            </mat-icon>
        </div> 
    </mat-toolbar>
    <div class="container">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>   
</div>
