/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a, a:visited { cursor: pointer;
    outline : none; }
 
.price{
    font-size: smaller;
    font-weight: 550;
    margin-top: 5px;    
}
.author{
    font-size: x-small;
    color: gray;
}
.pobt{
    color: white;
    background-color: rgb(86, 86, 255);
    font-size: smaller;
    font-weight: 200;
}